<mat-toolbar class="align-justify" color="primary">
  <span class="site-title">Wx Dashboard</span>

  <div class="header-utilities align-middle">
    <fa-icon [icon]="faSearch"></fa-icon>

    <fa-icon [icon]="faBell"></fa-icon>

    <div class="profile-menu align-middle"
      (click)="toggleUserProfileMenu()">
      <div class="icon"></div>
      <fa-icon [icon]="faAngleDown"></fa-icon>
    </div>
  </div>
</mat-toolbar>

<!-- User Profile Dropdown Menu -->
<div class="grid-x align-right"
  *ngIf="isExpanded"
  [@toggleMenu]>
  <div class="dropdown-menu">
    <div class="grid-x">
      <div class="cell small-6">
        <ul class="tools-links">
          <li>
            <a href="#">Edit profile</a>
          </li>
          <li>
            <a href="#">Notifications</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>