<mat-spinner *ngIf="isLoading && !error" diameter="50"></mat-spinner>
<div class="weather-observations"
  [ngClass]="showIsLoading()"
  *ngIf="hasWxData">

  <div class="page-header">
    <mat-card-title>
      Latest Observations
      <span class="observation-time">{{ currentObservations.observationTime }}</span>
    </mat-card-title>

    <mat-card-subtitle>
      {{ locationName }}, {{ state }}
      <a class="card-link" href="#">Select another city</a>
    </mat-card-subtitle>
  </div>

  <mat-card-content class="grid-y align-justify">
    <div class="grid-x padding-vertical-3">
      <div class="cell small-3 conditions-icon">
        <i class="wi" [ngClass]="showSkyConditionIcon()"></i>
      </div>

      <div class="cell small-6 observed-temperature">
        <p class="temperature">
          {{ currentObservations.observedTemperature }}<i class="wi wi-fahrenheit"></i>
        </p>
        <p class="wind-chill"
          *ngIf="currentObservations.observedWindChill !== null">
          Wind chill: {{ currentObservations.observedWindChill }}<i class="wi wi-degrees"></i>
        </p>
        <p class="wind-chill"
          *ngIf="currentObservations.observedWindChill === null">
          No wind chill
        </p>
      </div>

      <div class="cell small-3 forecast-temperatures"
        *ngIf="!isTonight; else tonight">
        <p class="high">
          High: <strong>{{ shortTermForecast.forecastHighTemperature }}<i class="wi wi-degrees"></i></strong>
        </p>
        <div class="divider"></div>
        <p class="low">
          Low: <strong>{{ shortTermForecast.forecastLowTemperature }}<i class="wi wi-degrees"></i></strong>
        </p>
      </div>
      <ng-template #tonight>
        <div class="cell small-3 forecast-temperatures">
          <p class="low">
            Low: <strong>{{ shortTermForecast.forecastLowTemperature }}<i class="wi wi-degrees"></i></strong>
          </p>
          <div class="divider"></div>
          <p class="high">
            High: <strong>{{ shortTermForecast.forecastHighTemperature }}<i class="wi wi-degrees"></i></strong>
          </p>
        </div>
      </ng-template>
    </div>

    <div class="grid-x align-center padding-bottom-3">
      <div class="cell auto other-obs type">
        <p>Wind:</p>
        <p>Visibility:</p>
        <p>Humidity:</p>
        <p>Pressure:</p>
      </div>

      <div class="cell small-4 other-obs value">
        <p>{{ currentObservations.observedWindSpeed }}</p>
        <p>{{ currentObservations.observedVisibility }}</p>
        <p>{{ currentObservations.observedHumidity }}</p>
        <p>{{ currentObservations.observedPressure }}</p>
      </div>

      <div class="cell small-3 wind-info">
        <div class="compass">
          <i class="wi" [ngClass]="showWindDirectionIcon()"></i>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="cell small-12 short-term-forecast padding-top-2"
      *ngIf="hasShortTermForecastData">
      <p class="data">
        <strong>{{ shortTermForecast.shortTermForecastPeriod }}</strong>:
        {{ shortTermForecast.shortTermForecastLowTemperature }}<i class="wi wi-degrees"></i>&nbsp;-&nbsp;
        {{ shortTermForecast.shortTermForecastDetails }}
      </p>
    </div>
  </mat-card-content>
</div>

<div class="weather-observations"
  *ngIf="!hasWxData && error">
  <div class="callout alert">
    <p>{{ error }}</p>
  </div>
</div>