<mat-spinner *ngIf="isLoading && !error" diameter="50"></mat-spinner>
<div class="weather-observations"
  [ngClass]="showIsLoading()"
  *ngIf="hasWxData">
  <mat-card-title>
    Latest Observations
    <span class="observation-time">{{ observationTime }}</span>
  </mat-card-title>
  <mat-card-subtitle>
    {{ locationName }}, {{ state }} ({{ lat }}, {{ lng }})
    <a class="card-link" href="#">Select another city</a>
  </mat-card-subtitle>
  <mat-card-content class="grid-x">
    <div class="cell medium-2 conditions-icon">
      <i class="wi" [ngClass]="showSkyConditionIcon()"></i>
    </div>

    <div class="cell medium-4 observed-temperature">
        <p class="temperature">
          {{ observedTemperature }}<i class="wi wi-fahrenheit"></i>
        </p>
        <p class="wind-chill"
          *ngIf="observedWindChill !== null">
          Wind chill: {{ observedWindChill }}<i class="wi wi-degrees"></i>
        </p>
        <p class="wind-chill"
          *ngIf="observedWindChill === null">
          No wind chill
        </p>
    </div>

    <div class="cell medium-2 other-obs type">
      <p>Humidity:</p>
      <p>Pressure:</p>
      <p>Wind:</p>
      <p>Visibility:</p>
    </div>

    <div class="cell medium-2 other-obs data">
      <p>{{ observedHumidity }}</p>
      <p>{{ observedPressure }}</p>
      <p>
        <i class="wi"
          [ngClass]="showWindDirectionIcon()">
        </i>
        {{ observedWindSpeed }}
      </p>
      <p>{{ observedVisibility }}</p>
    </div>

    <mat-divider [inset]="true"></mat-divider>

    <div class="cell medium-12 short-term-forecast"
      *ngIf="hasShortTermForecastData">
      <p class="data"
        matTooltip="{{ tooltipText }}"
        matTooltipPosition="above">
        <strong>{{ shortTermForecastPeriod }}</strong>:
        {{ shortTermForecastLowTemperature }}<i class="wi wi-degrees"></i>&nbsp;-&nbsp;
        {{ shortTermForecastDetails }}
      </p>
    </div>
  </mat-card-content>
</div>

<div class="weather-observations"
  *ngIf="!hasWxData && error">
  <div class="callout alert">
    <p>{{ error }}</p>
  </div>
</div>