<mat-spinner *ngIf="isLoading && !error" diameter="50"></mat-spinner>
<div class="weather"
  [ngClass]="showIsLoading()"
  *ngIf="hasWxData">

  <div class="row page-header">
    <div class="date">{{ currentObservations.observationDateTime | date: 'longDate' }}</div>
    <div class="observation-time">{{ currentObservations.observationDateTime | date: 'shortTime' }}</div>
    <div class="location">{{ currentObservations.observedLocationName }}, {{ currentObservations.observedRegion }}</div>
  </div>

  <div class="main-panel">
    <div class="row" *ngIf="hasFeelsLike">
      <div class="feels-like" [ngClass]="showFeelsLike()">
        Feels like:&nbsp;<span class="bold">{{ currentObservations.observedFeelsLike | number: '1.0-0' }}</span><i class="wi wi-degrees"></i>
      </div>
    </div>

    <div class="row conditions">
      <i class="wi" [ngClass]="showSkyConditionIcon()"></i>
      <span class="temperature">
        {{ currentObservations.observedTemperature | number: '1.0-0' }}<i class="wi wi-degrees"></i>
      </span>
    </div>

    <!-- Other observations -->
    <div class="row">
      <div class="col other-obs"
        *ngIf="hasWxData">
        <p class="type">
          Humidity: <span class="value">{{ currentObservations.observedHumidity }}</span>
        </p>
        <p class="type">
          Wind: <span class="value">{{ currentObservations.observedWindDirection }} {{ currentObservations.observedWindSpeed | number: '1.0-0' }} mph</span>
        </p>
        <p class="type">
          Pressure: <span class="value">{{ currentObservations.observedPressure }}</span>
        </p>
      </div>

      <div class="col forecast-temperatures"
        *ngIf="hasWxForecastData">
        <p class="high">
          Hi: {{ forecast.highTemperature | number: '1.0-0' }}<i class="wi wi-degrees"></i>
        </p>
        <p class="low">
          Lo: {{ forecast.lowTemperature | number: '1.0-0' }}<i class="wi wi-degrees"></i>
        </p>
      </div>
    </div>
  </div>

  <app-weather-forecast></app-weather-forecast>
</div>

<!-- TODO: Remove callout & alert classes and refactor -->
<!-- <div class="weather-observations"
  *ngIf="!hasWxData && error">
  <div class="callout alert">
    <p>{{ error }}</p>
  </div>
</div> -->