.container {
  max-width: 375px;
}

.page-header {
  padding: 1rem 15px;

  > .date-time {
    font-size: 1.25rem;
    font-weight: 400;
  }

  > .location {
    font-size: 1rem;
    font-weight: 300;
  }
}

body {
  background-image: radial-gradient(
    #fff,
    #f5f5f5
  );
}