<mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
<div class="current-weather"
  [ngClass]="showIsLoading()"
  *ngIf="hasWxData">
  <mat-card-title>
    Current Weather
    <span class="observation-time">{{ observationTime }}</span>
  </mat-card-title>
  <mat-card-subtitle>
    {{ locationName }}, {{ state }}
    <a class="card-link" href="#">Select another city</a>
  </mat-card-subtitle>
  <mat-card-content class="grid-x">
    <div class="cell medium-3 conditions-icon">
      <i class="wi" [ngClass]="showSkyConditionIcon()"></i>
    </div>

    <div class="cell medium-4">
      <p class="temperature">
        {{ currentTemperature }}<i class="wi wi-fahrenheit"></i>
      </p>
      <p class="wind-chill"
        *ngIf="currentWindChill !== null">
        Wind chill: {{ currentWindChill }}<i class="wi wi-degrees"></i>
      </p>
      <p class="wind-chill"
        *ngIf="currentWindChill === null">
        No wind chill
      </p>
    </div>

    <div class="cell medium-2 other-obs type">
      <p>Humidity:</p>
      <p>Pressure:</p>
      <p>Wind:</p>
      <p>Visibility:</p>
    </div>

    <div class="cell medium-2 other-obs data">
      <p>{{ currentHumidity }}</p>
      <p>{{ currentPressure }}</p>
      <p>
        <i class="wi"
          [ngClass]="showWindDirectionIcon()">
        </i>
        {{ currentWindSpeed }}
      </p>
      <p>{{ currentVisibility }}</p>
    </div>
  </mat-card-content>
</div>
<div class="current-weather"
  *ngIf="!hasWxData">
  <p>Weather data is currently unavailable</p>
</div>