<mat-spinner *ngIf="isLoading && !error" diameter="50"></mat-spinner>
<div class="temp-graph"
  [ngClass]="showIsLoading()"
  *ngIf="hasWxForecastData">
  <canvas height="250" width="800"
    class="graph-canvas"
    baseChart
    [chartType]="'line'"
    [colors]="temperatureChartColors"
    [datasets]="temperatureChartData"
    [labels]="temperatureChartLabels"
    [legend]="temperatureChartLegend"
    [plugins]="temperatureChartPlugins">
  </canvas>
</div>

<div class="callout alert"
  *ngIf="!hasWxForecastData && error">
  <p>{{ error }}</p>
</div>