<section class="grid-x grid-margin-x">
  <mat-card class="cell medium-8 graph">
    <app-temperature-graph></app-temperature-graph>
  </mat-card>
  <mat-card class="cell medium-4 weather">
    <app-weather-observations></app-weather-observations>
  </mat-card>
</section>

<section class="grid-x grid-margin-x">
  <mat-card class="cell medium-4 chart">
    <p>Historical Data Charts</p>
  </mat-card>
  <mat-card class="cell medium-4 calendar">
    <p>Calendar</p>
  </mat-card>
  <mat-card class="cell medium-4 messages">
    <app-weather-alerts></app-weather-alerts>
  </mat-card>
</section>