.page-header,
.date,
.location {
  display: flex;
}

.page-header {
  flex-direction: column;
  padding-top: 2rem;

  > .date,
  > .location {
    justify-content: center;
  }

  > .location {
    font-size: 14px;
  }
}