.mat-card {
  color: #616161;
  height: 300px;

  &.graph,
  &.weather {
    margin-bottom: 16px;
  }
}

.page-header {
  display: flex;
  flex-direction: column;

  > .mat-card-subtitle {
    display: flex;
    justify-content: space-between;
  }

  > .mat-card-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}