.fa-bell,
.fa-search {
  font-size: 24px;
  margin-right: 48px;

  &:hover {
    color: #9FA8DA;
    cursor: pointer;
  }
}

.dropdown-menu {
  background-color: #fff;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  height: 345px;
  margin-right: 1.5rem;
  padding: 1rem .5rem;
  position: absolute;
  width: 210px;
  z-index: 10;
}

.header-utilities {
  display: flex;
}

.mat-toolbar.mat-primary {
  box-shadow: 0 1px 6px 3px #888;
  position: relative;
  z-index: 10;
}

.profile-menu {
  display: flex;
  margin-right: 1rem;

  &:hover {
    cursor: pointer;
  }

  > .icon {
    background-color: #fff;
    border-radius: 50%;
    height: 35px;
    margin-right: .5rem;
    width: 35px;
  }
}

.site-title {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.5625rem;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 0;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}