.h4 {
  margin-bottom: 0;
  text-transform: uppercase;
}

.header-utilities {
  display: flex;
}

.fa-bell,
.fa-search {
  font-size: 24px;
  margin-right: 48px;

  &:hover {
    color: #9FA8DA;
    cursor: pointer;
  }
}

.mat-toolbar.mat-primary {
  box-shadow: 0 1px 10px 4px #616161;
  position: relative;
  z-index: 10;
}

.profile-menu {
  display: flex;
  margin-right: 1rem;

  &:hover {
    cursor: pointer;
  }

  > .icon {
    background-color: #fff;
    border-radius: 50%;
    height: 40px;
    margin-right: .5rem;
    width: 40px;
  }
}