.fa-chart-line,
.fa-envelope,
.fa-home {
  font-size: 26px;
  margin-bottom: 36px;
}

.fa-envelope {
  margin-bottom: 0;
}

.mat-drawer-content {
  padding: 45px 25px 20px 45px;
}

.menu {
  li {
    a {
      color: #3F51B5;

      &:hover {
        color: #1A237E;
        cursor: pointer;
      }
    }
  }

  &.vertical {
    margin: 0 .5rem;
    padding-top: 24px;
  }
}