.weather-observations {
  background-image: radial-gradient(
    #fff,
    #f5f5f5
  );
  color: #1A237E;
  display: flex;
  flex-direction: column;

  .conditions,
  .forecast-temperatures {
    display: flex;
  }

  > .alert {
    background-color: #F8BBD0;
    border-radius: 2px;
    color: #880E4F;
  }

  > .mat-card-content {
    display: flex;
  }

  &.loading {
    background-color: white;
    height: 300px;
    opacity: .05;
  }

  .conditions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > .heat-index,
    > .wind-chill {
      font-size: 1rem;
      font-weight: bold;
      margin-top: -.75rem;
    }

    > .heat-index {
      color: #C2185B;
    }

    > .temperature {
      font-size: 4rem;
      margin-bottom: 0;
    }

    > .wi {
      font-size: 5rem;
    }

    > .wind-chill {
      color: #9C27B0;
    }
  }

  .forecast-temperatures {
    justify-content: center;

    .high,
    .low {
      display: flex;
      font-size: 1rem;
      justify-content: space-between;
      margin: 0;
      padding: 0 .75rem;

      > .temp {
        margin-left: .25rem;
      }
    }

    .high {
      &.warm {
        color: #f57c00;
      }

      &.hot {
        color: #D32F2F;
      }

      &.sweltering {
        color: #C2185B;
      }
    }

    .low {
      &.mild {
        color: #4CAF50;
      }

      &.cool {
        color: #2196f3;
      }

      &.cold {
        color: #3F51B5;
      }

      &.frigid {
        color: #9C27B0;
      }
    }
  }

  .observation-time {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    padding: 0.5rem 0;
  }

  .other-obs {
    display: flex;
    flex-direction: column;

    > .type,
    > .value {
      padding: .25rem 0;
    }

    > .type {
      padding-right: .25rem;
      text-align: right;
    }

    > .value {
      font-weight: bold;
      padding-left: .5rem;
    }

    .wi {
      font-size: 1.25rem;
      padding-right: .25rem;
    }

    p {
      margin-bottom: 0;
    }
  }

  .short-term-forecast {
    align-items: center;
    display: flex;
    justify-content: center;

    p {
      margin-bottom: 0;
    }
  }
}

.mat-progress-spinner {
  position: absolute !important;
  right: 45%;
  top: 40%;
}