.weather-observations,
.mat-card-subtitle {
  color: #283593;
}

.weather-observations {
  display: flex;
  flex-direction: column;

  .temperature,
  .wind-chill {
    padding-left: 10px;
  }

  > .alert {
    background-color: #F8BBD0;
    border-radius: 2px;
    color: #880E4F;
  }

  > .mat-card-content {
    display: flex;
    justify-content: space-around;
  }

  > .mat-card-subtitle {
    display: flex;
    justify-content: space-between;
  }

  > .mat-card-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &.loading {
    background-color: white;
    height: 300px;
    opacity: .05;
  }

  .card-link {
    &:hover {
      text-decoration: underline;
    }
  }

  .conditions-icon {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding-top: 1.75rem;

    > .wi {
      font-size: 4rem;
    }
  }

  .wind-chill {
    font-size: 1rem;
    margin-top: -1.5rem;
  }

  .observation-time {
    font-size: 1rem;
  }

  .other-obs {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding-top: 1.4rem;

    &.data {
      font-weight: bold;

      .wi {
        font-size: 1rem;
      }
    }
  }

  .temperature {
    font-size: 4rem;
    margin-bottom: 0;
  }

  .wi-direction-down-right {
    font-size: 1.25rem;
  }
}

.mat-progress-spinner {
  position: absolute !important;
  right: 45%;
  top: 40%;
}