.weather-forecast {
  align-items: center;
  display: flex;
  height: 150px;

  > .forecast-day {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > .condition,
    > .high-temp {
      font-size: 1.1rem;
    }

    > .high-temp {
      font-weight: 700;
    }
  }
}