.weather-alerts {
  color: #283593;

  > .mat-card-title {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  .alert {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: .75rem;

    > h6 {
      margin-bottom: 0;
    }

    > .view-alert {
      color: #E91E63;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .alert-content {
    align-items: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
  }

  .date {
    font-size: 1rem;
    padding-bottom: .25rem;
  }
}