<mat-spinner *ngIf="isLoading && !error" diameter="50"></mat-spinner>
<div class="weather-alerts"
  [ngClass]="showIsLoading()">
  <mat-card-title>
    Weather Alerts
    <span class="date">{{ date }}</span>
  </mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content>
    <div class="alert-content" *ngIf="hasAlerts; else noAlerts">
      <h6>{{ wxAlertEvent }}</h6>
      <button class="view-alert" type="button"
        (click)="openAlertDialog(wxAlertEvent, wxAlertDescription)">
        View alert
      </button>
    </div>
    <ng-template #noAlerts>
      <p class="description">There are no active alerts in your area.</p>
    </ng-template>
  </mat-card-content>
</div>
