<h2 mat-dialog-title>{{ alertTitle }}</h2>

<mat-divider></mat-divider>

<mat-dialog-content>
  <div class="alert-text">
    <span *ngIf="isSplitString; else normalText">
      <p *ngFor="let element of alertText">
        {{ element }}
      </p>
      <p>
        {{ alertDetails }}
      </p>
    </span>
    <ng-template #normalText>
      <p>
        {{ alertText }}
      </p>
      <p>
        {{ alertDetails }}
      </p>
    </ng-template>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-raised-button
    (click)="close()">
    Close
  </button>
</mat-dialog-actions>