<div class="current-weather">
  <mat-card-title>
    Current Weather
    <span class="observation-time">12:35 PM</span>
  </mat-card-title>
  <mat-card-subtitle>
    Grand Prairie, Texas
  </mat-card-subtitle>
  <mat-card-content class="grid-x">
    <div class="cell medium-3 conditions-icon">
      <i class="wi wi-night-alt-cloudy-windy"></i>
    </div>

    <div class="cell medium-5">
      <p class="temperature">
        43<i class="wi wi-fahrenheit"></i>
      </p>
      <p class="feels-like">
        Feels like: 38<i class="wi wi-degrees"></i>
      </p>
    </div>

    <div class="cell medium-2 other-obs type">
      <p>Humidity:</p>
      <p>Pressure:</p>
      <p>Wind:</p>
      <p>Visibility:</p>
    </div>

    <div class="cell medium-2 other-obs data">
      <p>87%</p>
      <p>1029mb</p>
      <p>
        <i class="wi wi-direction-down-right"></i> 9 MPH
      </p>
      <p>10 miles</p>
    </div>
  </mat-card-content>
</div>